.newalboms{
	width: 1200px;
	margin: auto;
	margin-bottom: 150px;
}
.newalbomscontainer{
	display: flex;
}
.newalbomscover{
	width: 300px;
	height: 300px;
	margin-top: 30px;
}
.blocktrack{
	width: 700px;
	margin: auto;
}
.namealbom{
	padding: 20px;
	margin-bottom: 20px;
}
.namealbom a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #000;
	cursor: pointer;
	font-size: 30px;
}
.trackslist{
	width: 600px;
}
.track{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 45px;
}
.track:hover{
	background-color: #f9f9f9;
}
.track a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #000;
	cursor: pointer;
	font-size: 14px;
}
.track p{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #000;
	cursor: pointer;
	font-size: 14px;
}
.track .play{
	height: 40px;
	width: 40px;
}
.track .name{
	width: 500px;
}
.track .like{
	height: 20px;
	width: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
details summary::-webkit-details-marker {
     color: #fff;

}
summary > span {
	background-color: #fff;
	margin-left: -1.2em;
	margin-top: 10px;
    margin-bottom: 10px;

}
summary {
	cursor: pointer;
	outline: 0;
}
.summarytext{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #000;
	cursor: pointer;
	font-size: 14px;
	margin-left:8px;

}