ul .submenu{
  display: block;
}
.menu .submenu {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #f7f7f7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  right: 310px;
  list-style: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  visibility: hidden;
  width: 232px;

}

.no-js .menu:hover .submenu,
.menu-hover:hover .submenu,
.menu-click.menu-active .submenu {
  opacity: 1;
  top: 75px;
  visibility: visible;
}

.submenu::before,
.submenu::after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #f7f7f7;
  content: "";
  height: 0;
  right: 45px;
  position: absolute;
  bottom: 197px;
  width: 0px;
}

.submenu::after {
    border-bottom: 15px solid #fff;
    top: -15px; 
   }

.submenu li {
  border-bottom: 1px solid #EBEBEB;
  padding: 7px 10px;
  display: flex;
  justify-content: center;

}

.menu .submenu li:last-child {
  border-bottom: none;
}

.menu .submenu a {
  color: #777;
  display: inline-block;
  line-height: 1.2em;
  padding: 5px 0;
  text-decoration: none;
  margin-right: 0px
}
